@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/functions";


#views-exposed-form-research-database-page-1 {
  .control-label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .select-wrapper {
    margin-right: 10px;
  }
}
