
.block-superfish {
    float: left;
    width: 50%;
}

.search-block-form {
  margin-top: 4px;
  margin-right: 15px;
}

.search-block-form .form-group {
    margin-bottom: 0px;
}

.overlay {
    background-color: #000;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity = 50); /* IE7 & 8 */
    position: fixed;
    right: 0;
    top: 0;
    z-index: 8;
}

.overlay2 {
    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity = 50); /* IE7 & 8 */
    position: relative;
    z-index: 8;
}

.off-canvas-menu-wrap, ul.sf-menu.sf-vertical {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


ul.sf-menu.sf-style-white a:focus,
ul.sf-menu.sf-style-white a:hover,
ul.sf-menu.sf-style-white span.nolink:hover,
ul.sf-menu.sf-style-white li.sf-depth-1:hover,
ul.sf-menu.sf-style-white li.sfHover {
    background: #111 !important;
    color: #fff;
}

ul.sf-menu.sf-style-white li li.sf-depth-2 {
    background: #f7f7f7 !important;
}

ul.sf-menu.sf-style-white .sf-depth-2:hover,
ul.sf-menu.sf-style-white .sf-depth-3:hover {
    background: #ddd !important;
    color: #4A4A4A;
}

ul.sf-menu.sf-style-white li.sf-depth-1:hover a > .fa-angle-right:before,
ul.sf-menu.sf-style-white li.sf-depth-2:hover a > .fa-angle-right:before {
  content: "\f107";
}

ul.sf-menu.sf-style-white li:hover {
    background: #f0f0f0;
    text-decoration: underline;
}

.sf-depth-2 ul {
  left: 0 !important;
}

.sf-depth-2 ul a {
  margin-left: 20px !important;
}
}

.off-canvas-menu-wrap a {
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.off-canvas-menu-wrap .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.open-nav-btn, .close-nav-btn {
  cursor: pointer;
}


#superfish-main li, .sf-depth-2 {
  width: 400px;
}

#superfish-main .sf-hidden {
  width: 100% !important;
}

ul.sf-menu.sf-vertical li:hover > ul, ul.sf-menu.sf-vertical li.sfHover > ul {
    left: 0;
    top: 0;
}

ul.sf-menu ul {
    position: relative;
}

.sf-hidden {
    position: relative !important;
}

#main-standardfront-page {
  display: none;
}

.sf-depth-1 .fa-angle-right {
    float: right;
}

#off-canvas-menu-title {
  text-transform: uppercase;
  padding: 0.75em 1em;
  margin-top: 100px;
}

#off-canvas-menu-title p {
  border-bottom: 1px solid #fff;
  font-size: 18px;
  color: #fff;
  line-height: 2;
}

#off-canvas-menu-title .fa-times {
  float: right;
  margin-top: 8px;
}

ul.sf-menu.sf-style-white a.sf-with-ul, ul.sf-menu.sf-style-white span.nolink.sf-with-ul {
  padding: 0.75em 1em;
  color: #fff;
  font-weight: 600;
}


li.sf-depth-2 a.sf-with-ul {
    color: #4A4A4A !important;
    font-weight: bold !important;
}

.open-nav-btn {
  padding: 10px 15px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}


/*----------------- Research DB ----------------*/
.views-field-field-rdb-url svg, .field--name-field-rdb-url svg {
  margin-left: 8px;
}

.funding-opportunity .field {
  padding: 15px 0;
}

.funding-opportunity .field:first-child {
  padding: 0 0 15px;
}


/*----------------- MOBILE ----------------*/

@media (max-width: 768px) {

  ul.sf-menu.sf-accordion.sf-accordion-with-buttons li.sf-expanded > .sf-accordion-button .fa-angle-right:before {
    content: "\f107";
    color: #fff;
  }

  ul.sf-menu.sf-accordion.sf-accordion-with-buttons .sf-accordion-button .fa-angle-right:before {
      content: "\f105";
      color: #fff;
  }

  ul.sf-menu.sf-accordion.sf-accordion-with-buttons .sf-depth-2 .sf-accordion-button .fa-angle-right:before {
    color: #4A4A4A;
  }

  .hidetxt {
    color: transparent !important;
  }

  .open-nav-btn, #off-canvas-menu-title {
    display: none;
  }

  div.sf-accordion-toggle.sf-style-white a {
    text-decoration: none;
    background: transparent;
    border: none;
    color: #4A4A4A;
    padding: 1em 3em 1em 1em;
  }

  div.sf-accordion-toggle.sf-style-white a.sf-expanded,
  ul.sf-menu.sf-style-white.sf-accordion li.sf-expanded {
    background: #999;
    color: #4A4A4A;
  }

  .sf-accordion-toggle > a:after {
      content: "" !important;
  }

  .sf-accordion-toggle span {
    text-transform: uppercase !important;
    color: #4A4A4A;
  }

  .sub-menu .sf-accordion-button {
    width: 20px;
    overflow: hidden;
    text-indent: -9px;
  }

  ul.sf-menu.sf-accordion.sf-accordion-with-buttons li.sf-expanded > .sf-accordion-button:after,
  ul.sf-menu.sf-accordion.sf-accordion-with-buttons .sf-accordion-button:after {
    content: "";
  }

  .region-navigation {
    background-color: transparent;
  }

  .block-superfish {
    width: 100%;
    background-color: #EFEFEF;
    float: none;
  }

  .search-block-form {
    position: relative;
    z-index: 100;
    margin-top: 7px;
    width: 30%;
  }

  ul.sf-menu.sf-style-white li a.sf-depth-1 {
    border-top: solid #666 2px;
  }

  ul.sf-menu.sf-style-white.sf-accordion li a.sf-accordion-button {
    margin-left: 10px;
    border-left: solid #666 2px;
    height: 40px;
  }



}

@media (max-width: 480px) {
  .search-block-form {
    width: 50%;
  }
}

